html
	
	head
		title
			| Logon / Register
			
		block stylesheets
			link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
			link(rel="stylesheet", href="/css/auth/style.css")

	body
		div(class="login-page")
			div(class="form")
				form(class="login-form", method="post")
					div(class="input-wrapper")

						input(type="text", placeholder="username", id="username", name="username", class="toots",
							title="Your username must be between 3 and 20 characters", required="true")
						label(for="username", class="", id="username_icon", value="c")
					
					block register
						div(class="input-wrapper")
							input(type="email", placeholder="email", id="email", name="email", class="toots",
								title="You must enter a valid email")
							label(for="email", class="", id="email_icon", value="c")

					div(class="input-wrapper")
						input(type="password", placeholder="password", id="password2" name="password2", class="toots",
							title="Your password must contain at least 10 letters, one number, and one lowercase and capital letter", required="true")
						label(for="password2", class="", id="password2_icon", value="c")
					
					block secondPassword
						div(class="input-wrapper")
							input(type="password", placeholder="password", id="password1", name="password", class="toots",
								title="passwords must match", required="true")
							label(for="password1", class="", id="password1_icon", value="c")

					div(id="errors")
						if errors
							p(style="color: #FF9494; font-size: 16px;")=errors[0].msg

					button(id="submitButton", disabled="true")
						| login

		block scripts
			script(src="https://code.jquery.com/jquery-3.3.1.min.js", crossorigin="anonymous")
			
			script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", crossorigin="anonymous")
			
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
			
			script(src="/scripts/auth/main.js", type="text/javascript")
